/*Base reset*/
*{
    margin:0;
    padding:0;
}

/*Box sizing*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
html{
    box-sizing: border-box;

    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
     */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*Custom variables*/
:root{
    --orange: #F77911;
    --link-text: black;
    --hover: #F5E1D0;
    --welcome-color-1: #E7E7E7;
    --welcome-color-2: #A4A4A499;
}

/*Misc properties*/

/*Use to center-align text*/
.text-center{
    text-align: center;
}
/*Use to left-align text*/
.text-left{
    text-align: left;
}
/*Use to right-align text*/
.text-right{
    text-align:right;
}

/*Base body styles*/
body{
    font-family: sans-serif;
}

/*Text styles*/

h1{
    font-size: 3.2rem; /*32px*/
}

h2{
    font-size: 1.6rem; /*16px*/
}

.experience{
    padding-left: 5px;
    color:var(--orange);
}

/*Navigation bar links*/
#navbar a{
    display: block;
    font-size: 2rem; /*20px*/
    padding: 5px;
    color: var(--link-text);
    text-decoration: none;
}



/*Navigation bar general*/
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    background-color: var(--orange);
}

/*Navigation bar list */
#navbar ul{
    display: flex;
    list-style:none;
}

/*Header link on hover*/
#navbar a.link:hover{
    background-color: var(--hover);
}

/*Icon hover animation*/
.icon:hover{
    transform: scale(1.2); 
    transition:100ms;
    transition-timing-function: ease-in-out;
}

/*Welcome section*/
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,
        var(--welcome-color-1),
        var(--welcome-color-2) 80%);
}

