/*Base reset*/
*{
    margin:0;
    padding:0;
}

/*Box sizing*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
html{
    box-sizing: border-box;

    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
     */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*Custom variables*/
:root{
    --orange: #F77911;
    --link-text: black;
    --hover: #F5E1D0;
    --welcome-color-1: #E7E7E7;
    --welcome-color-2: #A4A4A499;
    --close-button: #333;
}

/*Misc properties*/

/*Use to center-align text*/
.text-center{
    text-align: center;
}
/*Use to left-align text*/
.text-left{
    text-align: left;
}
/*Use to right-align text*/
.text-right{
    text-align:right;
}

/*Base body styles*/
body{
    font-family: sans-serif;
}

/*Text styles*/

h1{
    font-size: 3.2rem; /*32px*/
}

h2{
    font-size: 1.6rem; /*16px*/
}

.no-bold{
    font-weight: 1;
    padding-right: 10px;
}

.italic{
    font-style: italic;
}

.bottom-padding{
    padding-bottom: 5px;
}

.section-header{
    color:var(--orange);
    width: 100vw;
    margin: 10px;
    margin-bottom: 20px;
}

.hamburger{
    display: inline-block;
    position:relative;
    margin: 10px 0;
    top:4px;
    left:3px;
}

.hamburger, .hamburger::before, .hamburger::after{
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
}

.hamburger::before, .hamburger::after{
    display: block;
    content:"";
    position:absolute;
}

.hamburger::before{
    bottom: 170%;
}

.hamburger::after{
    top: 170%;
}

#navbar .menu-button{
    width: 20px;
    height: 16px;
    position:relative;
    bottom: 7px;
    z-index:1;
    border: 1px solid white;
}

.menu-popup {
    margin: 30px 0;
    padding: 20px;
    background: white;
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    max-width: 500px;
    min-width: 250px;
    position: relative;
    left: -1000px;
    transition: 500ms;
  }
  
  #menu .menu-popup .close {
    position: absolute;
    top: 0px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--close-button);
    width: 10px;
  }
  #menu .menu-popup .close:hover {
    color: var(--orange);
  }
  .menu-popup .content {
    max-height: 30%;
    overflow: auto;
    
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .menu-overlay:target {
    visibility: visible;
    opacity: 1;
    .menu-popup{
      transition: 500ms;
      left: 0;
    }
  }

/*Navigation bar links*/
#navbar a, .footer a{
    margin: 0px auto;
    text-align: center;
    font-size: 2rem; /*20px*/
    padding: 5px;
    color: var(--link-text);
    text-decoration: none;
    width: 50%;
}

#navbar a{
  display: block;
}

/*Navigation bar general*/
#navbar{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    background-color: var(--orange);
}

/*Navigation bar list */
#navbar ul{
    display: flex;
    flex-direction: column;
    list-style:none;
}

.extern-links{
  display: flex;
  flex-direction: row;
  margin: auto;
  list-style: none;
}

/*Header link on hover*/
#navbar a.link:hover{
    background-color: var(--hover);
}

/*Icon hover animation*/
.icon:hover{
    transform: scale(1.2); 
    transition:100ms;
    transition-timing-function: ease-in-out;
}

#experience, #education{
    scroll-margin-top: 75px;
}

/*Welcome section*/
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,
        var(--welcome-color-1),
        var(--welcome-color-2) 80%);
}

.about-me{
  padding: 0 10px 20px;
  font-size: 15px;
}
/*window for experience information*/
.experience-blurb, .education-blurb{
    width: 60vw;
    margin: auto;
    display: flex;
    padding-bottom: 15px;
}

/*Space taken up by logo images*/
.image-space{
    width: 40%;
    display: block;
}

/*properties for the experiene text*/
.job-experience, .education-experience{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Sizing company logo images for experience section*/
.experience-images{
    width: 100px;
    position: relative;
}

/*change list from disc to check*/
.job-experience ul li{
    list-style: none;
    list-style-position: outside;
    text-indent: -1em;
}

.job-experience ul li:before{
    content: '✓';
}

.education-blurb{
    margin-top: 20px;
}

@media(max-width: 500px){
    .experience-blurb, .education-blurb{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw
    }
    .image-space{
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .job-experience{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

.footer{
    padding-bottom: 10px;
}

.footer .links{
  display: flex;
}

/*Popup test*/

.box {
    width: 40%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .footer .button{
    font-size: 1em;
    padding: 10px;
    color: transparent;
    border: 2px solid var(--orange);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: var(--orange);
    color: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    width: 70%;
    max-width: 500px;
    min-width: 250px;
    position: relative;
  }
  
 
  .popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--close-button);
  }
  .popup .close:hover {
    color: var(--orange);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    text-align:center;
  }

 .input-wrapper{
    display: block;
}

.popup label{
    display: block;
}

  .popup p{
    text-align: center;
  }
  
  .popup input{
    margin: 5px 0;
  }
  .popup textarea{
    padding: 0;
    margin: 5px 0;
  }


input[type="submit"]{
    display: block;
    margin: 5px auto;
  }

  input[type="submit"]:hover{
    background-color: var(--orange);
    border-radius: 3px;
  }

  .footer{
    background-color:var(--welcome-color-2);
  }
